*{margin:0;padding:0;}
body{background:#e5e5e5 url(../image/bg.jpg) repeat-x top;color:#666;font-family:'Maven Pro', sans-serif;;font-size:15px;}
ul{list-style:none;}
.clear{clear:both;}
p{color:#444;}
textarea:focus, input:focus,select:focus,button:focus{outline: none;}
table{width:100%;background:#fff;border:1px solid #ccc;}
a{color:#333;text-decoration:underline;}
a:hover{opacity:0.8;}
a.btn-primary{background:#333;color:#fff;border:1px solid #000;display:inline-block;text-decoration:none;padding:5px 10px;margin-top:10px;font-size:14px;border-radius:3px;}
img{max-width:100%;height:auto;}
/* Wrapper */
.wrapper{width:960px;margin:0 auto;}
/* Top */
#top{color:#666;font-size:13px;padding:11px 0;margin-bottom:15px;}
#top .welcome{float:left;width:auto;}
/* Top Links*/
#top #top-links,#top #search{float:right;width:auto;}
#top #top-links ul li{float:left;display:inline-block;margin-right:15px;}
#top #top-links ul li a{text-decoration:none;}
/* Top Search */
#top #search{position:relative;top:-4px;}
#top #search input{border:1px solid #e5e5e5;padding:5px;color:#666;}
#top #search button{background:url(../image/searchBtn.jpg) no-repeat;text-indent:-9999px;overflow:hidden;width:25px;height:25px;display:block;cursor:pointer;border:0;position:absolute;right:2px;top:1px;}
/* Header */
header{margin-bottom:20px;}
header .logo{float:left;width:auto;}
header.sticky{position:fixed;top:0;width:100%;z-index:10000;background:#fff;padding:10px 0;border-bottom:1px solid #e5e5e5;}
.mobMenu{display:none;}
/* Top Categories */
header .categories,header #cart{float:right;width:auto;margin-top:7px;}
header .categories ul{float:left;width:auto;}
header .categories > ul > li{float:left;display:inline-block;position:relative;margin-right:5px;padding-bottom:4px;}
header .categories > ul > li > a{text-decoration:none;font-weight:bold;font-size:15px;color:#060606;padding:10px;}
header .categories > ul > li:hover a{background:#fff;}
header .categories div.dropdown-menu{display:none;background:#fff;padding:10px;position:absolute;top:27px;z-index:100000;border-bottom:2px solid #f1f1f1;width:200px;}
header .categories div.dropdown-menu ul{float:none;width:100%;}
header .categories div.dropdown-menu li{display:block;}
header .categories div.dropdown-menu li a{text-decoration:none;font-size:15px;display:block;padding:5px;}
/* Mini Cart */
#cart{position:relative;/*background:url(../image/cartIcon.png) no-repeat top left;padding-left:35px;*/height:27px;top:-6px;margin-left:15px;}
#cart button{cursor:pointer;background:none;border:0;font-size:14px;position:relative;top:5px;display:block;margin-top: -8px}
#cart button #cart-total strong{color:#ea3447;font-size:18px;}
.cartInfo{display:none;position:absolute;z-index:10000;width:280px;right:0;background:#fff;top:27px;padding:10px;border:1px solid #c5c5c5;border-radius: 5px}
p.emptyCart{font-size:14px;text-align:center;}
#cart table{border:0;}
#cart table tbody tr{border-bottom:1px solid #e0e0e0;}
#cart table tbody tr td{padding:5px;}
#cart table tbody tr td a{display:block;}
#cart table tbody tr td button{position:relative;border: 1px solid #e0e0e0;background: 0; cursor: pointer;color:#666;padding: 2px 6px;border-radius:3px;}
#cart .totals{padding:10px;}
#cart .totals table{text-align:right;margin-bottom:10px;}
#cart .totals table tr{border:none;}
#cart .totals table tr td{font-size:13px;}
.totals .text-right{padding-bottom:10px;text-align:right;}
.totals .text-right a{padding:5px 15px;text-decoration:none;color:#fff;border-radius:3px;}
.totals .text-right a:first-child{background:#999;margin-right:10px;}
.totals .text-right a:last-child{background:#ea3447;}
.totals .text-right a:last-child{background:#ea3447;}
/* Add Success */
.alert{background:#333;color:#ccc;max-width:500px;margin:0 auto;padding:8px 10px;text-align:center;margin-bottom:10px;font-size:14px;border-radius:4px;clear:both;}
.alert a{color:#ccc;font-size:14px;}
.alert button{background:none;color:#ccc;cursor:pointer;border: 1px solid #000; padding: 2px 5px;margin-left: 10px;}
/* Slideshow */
#slideshow0{float:left;width:936px;padding:12px 12px 0;position:relative;margin-bottom:20px !important;box-shadow:0 0 15px #ccc;}
.mycarousel{margin:0 !important;}
.mycarousel .item a,.mycarousel .item a img{display:block;}
.owl-carousel .owl-wrapper-outer{margin:0 !important;border:0 !important;border-radius:0 !important;box-shadow:none !important;}
.owl-controls{position:absolute ;width:100%;right:12px;}
.owl-pagination{float:right;width:200px;background:#fff;top:-35px !important;text-align:right ;}
.owl-controls .owl-page{font-size:16px;font-weight:bold;margin:0 !important;}
.owl-controls .owl-page span{background:none !important;width:auto !important;height:auto !important;border:none !important;box-shadow:none !important;border-radius:0 !important;padding:0 8px;}
.owl-controls .owl-page.active span{border-bottom:3px solid #ea3447 !important;background:none !important;padding-bottom:14px;color:#999;}
p.slideDesc{font-weight:bold;color:#060606;font-size:18px;padding:15px 0;}

/* Home Content */
.homeLeft{float:left;width:690px;}
.product-layout{float:left;width:220px;position:relative;}
.product-layout .sale{position:absolute;top:10px;right:10px;background:#FF4D4D;color:#fff;font-size:11px;padding:2px 6px;border-radius:2px;display:inline-block;border:1px solid #bd2030;}
/* Featured */
.homeLeft .featured h3,.homeLeft .latest h3,.homeLeft .special h3,.homeLeft .bestseller h3{display:none;}
.homeLeft .product-layout:nth-child(3n+3){margin:0 15px;}
.product-thumb{border:1px solid #dad8d8;margin-bottom:15px;}
.product-thumb .image a,.product-thumb .image a img{display:block;}
.product-thumb .image a{border-bottom:1px solid #e4e4e4;}
.caption{background:#f5f5f5;padding:15px;border-top:1px solid #fafafa;border-bottom:1px solid #d4d4d4;}
.caption a{text-decoration:none;font-size:16px;color:#222;display:inline-block;margin-bottom:4px;}
.price{color:#555;}
.price-old{color:#999;text-decoration:line-through;}
/* Homepage Right */
.homeRight{float:right;width:250px;}
.htmlContent{background:#fff;padding:15px 15px 23px;border-bottom:1px solid #d4d4d4;}
.htmlContent h2,.bestseller h3{font-size:16px;color:#212121;font-weight:bold;margin-bottom:12px;}
.htmlContent img{display:block;margin-bottom:12px;}
.htmlContent p{margin-bottom:0;line-height:1.3em;}
.htmlContent p a{color:#ea3447;}
.htmlContent p br{display:none;}
/* Best Seller */
.bestseller{background:#fff;padding:15px 15px 0;margin-top:15px;border-bottom:1px solid #d4d4d4;}
.bestseller .product-thumb{border:none;margin:0;}
.bestseller h3{margin-bottom:6px;}
.bestseller .owl-carousel{margin:0 !important;}
.bestseller .image a{border:0;}
.bestseller .caption{padding:0;background:0;border:0;text-align:center;margin-bottom:10px;}

/* Footer */
footer{background:#fcfcfc;border-top:1px solid #d4d4d4;margin-top:15px;padding:12px 0;}
footer .copyright{float:left;width:300px;}
footer .copyright img{display:block;float:left;width:auto;padding-right:10px;}
footer .copyright{line-height:35px;font-size:13px;}
footer .footerLinks{float:left;width:auto;}
.footerLinks li{display:inline-block;padding-right:10px;}
.footerLinks li a{display:inline-block;line-height:35px;text-decoration:none;font-size:13px;}
/* Credits */
.credits{float:right;width:auto;font-size:13px;line-height:35px;}
.credits a{font-weight:bold;}

/* Inner Pages */
#content{box-shadow:0 0 15px #ccc;background:#fff;}
body.login #content{min-height:600px;}
body.common-home #content{box-shadow:none;background:none;}
.breadcrumb{margin:10px 20px;width:100%;float:left;}
.breadcrumb li{display:inline-block;float:left;padding-right:5px;}
.breadcrumb li::after{content: " >";}
.breadcrumb li:last-child::after{content:"";}
.breadcrumb li a{color:#474747;text-decoration:none;font-size:12px;}
/* Category Page */
.topCat{background:#fff;padding:20px 20px 10px;border:1px solid #e0e0e0;}
.topCat .col-sm-2{float:left;width:auto;margin-right:10px;}
.topCat img.img-thumbnail{padding:15px 0;display:block;}
.topCat h2{font-size:18px;color:#222;margin:5px 0;}
.topCat p{color:#444;}
.refine{display:none;}
.toolbar{background:#313131;padding:10px 20px;margin:0;}
.toolbar .col-md-4{float:left;width:auto;margin-right:15px;}
.toolbar .col-md-4 select{border:1px solid #000;padding:5px;background:#fff;}
.toolbar .col-md-4 label{color:#ccc;font-size:13px;text-transform:uppercase;}
.toolbar .col-md-4 a{color: #ccc;font-size: 13px;margin-top: 0;text-decoration: none;border: 1px solid #616060;border-radius: 3px;padding: 5px 10px;}
.toolbar .col-md-4:nth-child(4){float:right;width:auto;}
.toolbar .views button{display:inline-block;text-indent:-9999px;overflow:hidden;background:url(../image/views.png) no-repeat top left;width:13px;height:19px;border:none;cursor:pointer;}
.toolbar .views button#grid-view{background-position:bottom;margin-left:10px;}
.paging{margin-top:15px;}
.paging,.pagiResults{text-align:center;font-size:13px;}
.pagiResults{margin-top:10px;padding-bottom:10px;}
.paging ul li{display:inline-block;margin-right:10px;}
.paging ul li a{padding:2px 5px;border:1px solid #ccc;background:#fff;text-decoration:none;border-radius:3px;color:#8A8A8A;}
.row{clear:both;}
.catProducts{background:#e4e4e4;padding:20px;}
.empty{background:#fff;padding:20px;border:1px solid #e0e0e0;border-width:0 1px 2px 1px;}
.empty a{background:#333;display:inline-block;padding:4px 6px;color:#ccc;margin-top:15px;font-size:13px;border-radius:3px;text-decoration:none;}
.empty a:hover{opacity:0.8;}
.catProducts .product-layout:nth-child(2n){margin:0 10px;}

/* Product Page */
body.product .breadcrumb{display:none;}
.singleWrapper{width:958px;margin:0 auto;border:1px solid #cecaca;}
.breadcrumb.single{text-align:center;float:none;}
.breadcrumb.single li{float:none;}
.prodImages{box-sizing: border-box;width: 64%;background:#fff;text-align:center;float:left;border-right:1px solid #cecaca;position:relative;}
.thumbs{background:#eee;border: 1px solid #fff;height: 400px;overflow: hidden;float: left;position: relative;padding:5px;}
.thumbs li{border:1px solid #e1e1e1;margin-bottom:5px;}
.thumbs li img{display:block;}
.thumbnails{overflow:hidden;}
.thumbnail img{max-height:100%;max-width:100%;}
.productInfo{box-sizing: border-box;width: 36%;background:#EEEEEE;padding:20px 15px 0;float:right;border:1px solid #fff;}
.productInfo h1{font-size:20px;color:#2C3038;margin-bottom:8px;}
.shortDesc{font-size:14px;color:#444;margin-bottom:15px;}
.shortDesc a{color:#444;}
.shortDesc a:hover{opacity:0.8;}
.addBtns{margin-bottom:15px;}
.addBtns a{margin:0 !important;}
.optionsBlock{border-top:1px solid #eee;padding-top:15px;}
.optionsBlock label{font-size:16px;font-weight:bold;margin-bottom:5px;display:block;}
/* 产品单选框设置 */
.black-btn>input{display:none}
.black-btn{ padding:4px 6px ;float: left;background-color: white;border: 1px solid #999999;cursor: pointer;margin-right: 10px;border-radius: 3px;font-size: 15px !important;font-weight: 100 !important;}
.black-btn.checked{background: #2e3336;color: #fff;border-color: #2e3336}


.imgOption li{display:inline-block;background:#fff;margin-right:3px;}
.imgOption li a{border:1px solid #ccc;}
.imgOption li a,.imgOption li a img{display:block;}
.imgOption li a img{width:35px;height:35px;}
.imgOption li a:hover{border-color:#aaa;}
.imgOption li a.selected{border-color:#333;}
.wishlistBtn{position:absolute;top:20px;right:20px;z-index:1000;}
.wishlistBtn button{background:#fff url(../image/heart.png) no-repeat left;width:24px;height:24px;display:block;text-indent:-9999px;overflow:hidden;border:0;cursor:pointer;}
.qtyBox{margin:10px 0;}
.qtyBox label{font-size:16px;font-weight:bold;margin-right:10px;}
.qtyBox input{border:1px solid #ccc;text-align:center;padding:8px;color:#666;}
.addProd{background:#fff;margin-top:20px;padding:20px;border-top:1px solid #ddd;margin-right: -15px;margin-left: -15px;}
.addProd .alert{margin-top:10px;}
ul.price-list{float:left;padding-top:3px;width:135px;}
ul.price-list li{font-size:14px;color:#666;}
ul.price-list li h2{font-size:18px;color:#333;}
.addProd button{float:right;width:auto;background:#2e3336;color:#fff;border:0;padding:0 15px;cursor:pointer;border-radius:3px;}
.addProd button span{display:block;text-transform:uppercase;font-size:14px;font-weight:bold;/*background:url(../image/addProd.png) no-repeat left;padding-left:30px;*/line-height:46px;}
.addProd button:hover{opacity:0.7;}
.text-danger{font-size:12px;color:#F33;}
/* Related Block */
.moreWrap{background:#fff;margin:0 0 30px;border-top:1px solid #e0e0e0;padding:15px;border:1px solid #cecaca;border-top:0;}
.moreWrap .relatedBlock{margin:0 auto;}
.moreWrap .relatedBlock h3{font-weight:bold;font-size:18px;color:#333;padding-bottom:15px;}
.relatedBlock .product-layout:nth-child(3),.relatedBlock .product-layout:nth-child(8){margin:0 5px 5px 0;}
.relatedBlock .product-layout:nth-child(5),.relatedBlock .product-layout:nth-child(10){margin:0 0 5px 0;}
/* Tabs */
.tabWrap{margin: 0 auto ;max-width:1080px;padding-bottom:40px;}
.tab-pane{display:none;}
.tab-pane.active{display:block;}
.tabWrap ul.nav{border-bottom:1px solid #ccc;margin-bottom:25px;float:left;width:100%;}
.tabWrap ul.nav li{display:inline-block;float:left;}
.tabWrap ul.nav li a{padding:10px 20px;display:block;text-decoration:none;color:#474747;font-weight:bold;}
.tabWrap ul.nav li.active a{background:#fff;border:1px solid #ccc;border-bottom:1px solid #fff;position:relative;top:1px;}
#tab-description h2{font-size:20px;margin-bottom:10px;}
.prodInfo{margin-bottom:10px;}
.prodInfo li{font-size:14px;}
.longDesc{margin:20px 0;}
.longDesc ul{padding-left:20px;list-style:circle;}
.longDesc ul li{padding:5px 0;}
.tab-pane a{color:#333;font-size:#333;}
.tab-pane p{margin-bottom:15px;}
table{border-collapse:collapse;}
.tab-content{color:#555;}
.tab-content thead{background:#f1f1f1;}
.tab-content table td{padding:10px;}
/* Review Form */
#form-review{color:#333;}
#form-review label{display:block;margin:8px 0;font-size:14px;font-weight:bold;}
#form-review input[type="text"],#form-review textarea{border:1px solid #ccc;padding:5px;width:50%;}
.help-block{font-size:13px;color:#666;}
#form-review button{margin:15px 0;background:#333;color:#ccc;border:1px solid #000;padding:10px;cursor:pointer;border-radius:3px;}
/* Inner Footer */
body.product footer{margin:0;border-top:0;background:#fff url(../image/lineSep.jpg) top repeat-x;}
/* Manufacturer */
body.manufacturer #content{background:#fff;padding:20px;margin-bottom:25px;}
body.manufacturer #content h1{font-size:20px;border-bottom:1px solid #e0e0e0;margin-bottom:15px;padding-bottom:15px;}
body.manufacturer #content .col-sm-3{width:33%;float:left;}
body.manufacturer #content h2{font-size:15px;color:#555;margin:10px 0;}
body.manufacturer #content .row{border-bottom:1px dotted #e9e9e9;padding-bottom:10px;}
body.manufacturer #content a{color:#333;}
body.manufacturer\/info .catProducts .product-layout:nth-child(4),body.manufacturer\/info .catProducts .product-layout:nth-child(8){margin:0 5px 5px 0;}
body.manufacturer\/info .catProducts .product-layout:nth-child(5),body.manufacturer\/info .catProducts .product-layout:nth-child(10){margin:0;}

/* Login */
.col-sm-6{background:#fff;width:49%;float:left;margin-bottom:20px;}
.col-sm-6 .well{padding:20px;}
.col-sm-6 .well p strong{font-size:16px;margin-bottom:10px;display:inline-block;}
.col-sm-6:nth-child(2){float:right;}
.col-sm-6 h2{font-size:20px;margin-bottom:15px;color:#333;}
.col-sm-6 label{display:block;font-size:16px;display:block;margin-bottom:5px;}
.col-sm-6 input#input-email,.col-sm-6 input#input-password{border:1px solid #e0e0e0;padding:10px;color:#333;width:90%;}
.col-sm-6 input#input-email{margin-bottom:15px;}
.col-sm-6 .form-group a{display:inline-block;font-size:13px;padding:10px 0;}
.col-sm-6 input[type="submit"]{width:auto;background:#333;border:1px solid #000;color:#fff;padding:5px 10px;cursor:pointer;border-radius:3px;}
.col-sm-6 input[type="submit"]:hover{opacity:0.8;}
body.login #content > p{margin-bottom:15px;}
/* Checkout Cart */
body.checkout-cart .left{float:left;width:65%;background:#fff;padding:15px;margin-bottom:20px;}
body.checkout-cart .left h1{font-size:20px;color:#333;margin-bottom:15px;}
body.checkout-cart .left table{border:none;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #f1f1f1;}
body.checkout-cart .left table thead{background:#666;}
body.checkout-cart .left table thead td{color:#fff;font-size:13px;padding:10px;}
body.checkout-cart .left table tbody td{padding:10px;font-size:15px;}
body.checkout-cart .left table tbody td a{font-size:15px;color:#333;}
body.checkout-cart .left table tbody td a img{border:1px solid #ccc;}
body.checkout-cart .left table tbody td input{border:1px solid #ccc;padding:6px 0;width: 30px;text-align:center;}
.cartBtns button{cursor:pointer;border:1px solid #ccc;background:#fff;color:#666;padding:6px;font-size:13px;}
.cartBtns button.remove{background:#777;color:#fff;border-radius:4px;border:none;}
.btnCart{padding:10px 0;}
.btnCart .pull-left{float:left;width:auto;}
.btnCart .pull-right{float:right;width:auto;}
.btnCart .btnCheckout{background:#ea3447;color:#fff;padding:8px 20px;font-weight:bold;border-radius:3px;text-transform:uppercase;text-decoration:none;margin-left:18px;}
.btnCart .btnCheckout:hover{opacity:0.8;}
.btnCart a{color:#666;font-size:15px;}
.client-info .input-group{padding: 5px 0;}
.client-info{width: 48%;float: left}
.client-info input,
.client-info select,
.client-info textarea{box-sizing:content-box;width: 90%;border: 1px solid #e5e5e5;padding: 5px}

.sub-total{width:50%; text-align:right;float: right}
body.checkout-cart .left .sub-total td{padding:10px;}
body.checkout-cart .right{float:right;width:28%;background:#fff;padding:15px;}
body.checkout-cart .right h2{font-size:16px;margin-bottom:5px;}
body.checkout-cart .right > p{margin-bottom:15px;font-size:14px;}
body.checkout-cart .right .panel{margin-bottom:15px;}
body.checkout-cart .right .panel{border-bottom:1px solid #f1f1f1;padding-bottom:15px;}
body.checkout-cart .right .panel:last-child{border:0;padding-bottom:0;}
body.checkout-cart .right .panel a{text-decoration:none;color:#333;font-size:14px;}
body.checkout-cart .right .panel label{font-size:14px;}
body.checkout-cart .right .panel input{border:1px solid #ccc;padding:5px;}
body.checkout-cart .right .panel input[type="button"],body.checkout-cart .right .panel input[type="submit"]{background:#333;color:#ccc;border-radius:3px;display:inline-block;padding:5px 10px;border-color:#000;cursor:pointer;}
body.checkout-cart .right .panel #button-quote{border:1px solid #000;background:#333;color:#ccc;padding:5px 10px;cursor:pointer;border-radius:3px;}
body.checkout-cart .right .panel input[type="submit"],body.checkout-cart .right .panel #button-quote{margin-top:5px;}
body.checkout-cart .right .panel input[type="button"]:hover,body.checkout-cart .right .panel input[type="submit"]:hover,body.checkout-cart .right .panel #button-quote:hover{opacity:0.8;}
#collapse-shipping select{border:1px solid #ccc;padding:5px;margin:5px 0;}
/* Checkout */
div.checkout #content{padding:15px;}
div.checkout h1{font-size:25px;margin-bottom:15px;color:#333;}
div.checkout .panel-group{border:1px solid #ccc;margin-bottom:30px;}
div.checkout .panel-group h4{background:#fbfbfb;border-top:1px solid #e2dfdf;line-height:30px;padding:10px 15px;font-size:14px;color:#999;font-size:13px;font-weight:normal;margin:0;}
div.checkout .panel-group h4 a{text-decoration:none;font-size:14px;color:#333;font-weight:bold;}
div.checkout .panel-group .panel-body{border-top:1px solid #ccc;}
div.checkout .panel-group .radio{margin-top:10px;}
div.checkout .panel-collapse{margin:0;}
div.checkout .collapse{display:none !important;}
div.checkout .collapse.in{display:block !important;background:#fff;}
div.checkout .col-sm-6{float:left;width:45%;padding:15px;}
div.checkout #content .col-sm-6 h2{padding:0;font-size:14px;text-transform:none;color:#333;font-weight:bold;}
div.checkout input[type="button"]{border:none;padding:6px 15px;color:#888;background:#666;border-radius:4px;cursor:pointer;
	margin:15px 0;color:#fff;}
div.checkout input[type="button"]:hover{opacity:0.8;}
div.checkout .radio{margin-bottom:10px;}
input[type="radio"]{vertical-align:middle;}
div.checkout .control-label{display:block;font-size:14px;}
div.checkout .form-control{margin-bottom:8px;border:1px solid #DDE2EC;padding:8px 10px;width:80%;color:#777;}
.form-group a{display:block;}
.panel-body .checkbox{clear:both;padding:0 15px;}
#collapse-shipping-method .panel-body,#collapse-payment-method .panel-body,#collapse-payment-address .panel-body,#collapse-shipping-address .panel-body{padding:15px;}
div.checkout .pull-right a{border:none;padding:0;}
div.checkout .table-responsive table{width:100%;border-collapse:collapse;}
div.checkout .table-responsive td{padding:10px;border:1px solid #DDE2EC;}
div.checkout .table-responsive td.text-right{text-align:center;}
div.checkout .table-responsive tfoot td{text-align:right;}
fieldset{border:1px solid #a9a9a9;padding:15px;margin-bottom:15px;}
fieldset legend{border:1px solid #a9a9a9;padding:5px 15px;text-transform:uppercase;font-weight:bold;}
.modal{display:none;overflow:auto;overflow-y:scroll;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);transform:translate(0,-25%);-webkit-transition:-webkit-transform .3s ease-out;-moz-transition:-moz-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}.modal-dialog{position:relative;z-index:100000;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5);background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{padding:15px;border-bottom:1px solid #e5e5e5;min-height:16.428571429px}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.428571429}.modal-body{position:relative;padding:20px}.modal-footer{margin-top:15px;padding:19px 20px 20px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}.modal-lg{width:900px}}.tooltip{position:absolute;z-index:1030;display:block;visibility:visible;font-size:12px;line-height:1.4;opacity:0;filter:alpha(opacity=0)}.tooltip.in{opacity:.9;filter:alpha(opacity=90)}.tooltip.top{margin-top:-3px;padding:5px 0}.tooltip.right{margin-left:3px;padding:0 5px}.tooltip.bottom{margin-top:3px;padding:5px 0}.tooltip.left{margin-left:-3px;padding:0 5px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{bottom:0;left:5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;right:5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;left:5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;right:5px;border-width:0 5px 5px;border-bottom-color:#000}.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:276px;padding:1px;text-align:left;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);white-space:normal}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{margin:0;padding:8px 14px;font-size:14px;font-weight:400;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover .arrow{border-width:11px}.popover .arrow:after{border-width:10px;content:""}.popover.top .arrow{left:50%;margin-left:-11px;border-bottom-width:0;border-top-color:#999;border-top-color:rgba(0,0,0,.25);bottom:-11px}.popover.top .arrow:after{content:" ";bottom:1px;margin-left:-10px;border-bottom-width:0;border-top-color:#fff}.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-left-width:0;border-right-color:#999;border-right-color:rgba(0,0,0,.25)}.popover.right .arrow:after{content:" ";left:1px;bottom:-10px;border-left-width:0;border-right-color:#fff}.popover.bottom .arrow{left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25);top:-11px}.popover.bottom .arrow:after{content:" ";top:1px;margin-left:-10px;border-top-width:0;border-bottom-color:#fff}.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left .arrow:after{content:" ";right:1px;border-right-width:0;border-left-color:#fff;bottom:-10px}.carousel{position:relative}.carousel-inner{position:relative;overflow:hidden;width:100%}.carousel-inner>.item{display:none;position:relative;-webkit-transition:.6s ease-in-out left;transition:.6s ease-in-out left}.carousel-inner>.item>img,.carousel-inner>.item>a>img{display:block;max-width:100%;height:auto;line-height:1}.carousel-inner>.active,.carousel-inner>.next,.carousel-inner>.prev{display:block}.carousel-inner>.active{left:0}.carousel-inner>.next,.carousel-inner>.prev{position:absolute;top:0;width:100%}.carousel-inner>.next{left:100%}.carousel-inner>.prev{left:-100%}.carousel-inner>.next.left,.carousel-inner>.prev.right{left:0}.carousel-inner>.active.left{left:-100%}.carousel-inner>.active.right{left:100%}.carousel-control{position:absolute;top:0;left:0;bottom:0;width:15%;opacity:.5;filter:alpha(opacity=50);font-size:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}.carousel-control.left{background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.5) 0),color-stop(rgba(0,0,0,.0001) 100%));background-image:linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)}.carousel-control.right{left:auto;right:0;background-image:-webkit-linear-gradient(left,color-stop(rgba(0,0,0,.0001) 0),color-stop(rgba(0,0,0,.5) 100%));background-image:linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)}.carousel-control:hover,.carousel-control:focus{outline:0;color:#fff;text-decoration:none;opacity:.9;filter:alpha(opacity=90)}.carousel-control .icon-prev,.carousel-control .icon-next,.carousel-control .glyphicon-chevron-left,.carousel-control .glyphicon-chevron-right{position:absolute;top:50%;z-index:5;display:inline-block}.carousel-control .icon-prev,.carousel-control .glyphicon-chevron-left{left:50%}.carousel-control .icon-next,.carousel-control .glyphicon-chevron-right{right:50%}.carousel-control .icon-prev,.carousel-control .icon-next{width:20px;height:20px;margin-top:-10px;margin-left:-10px;font-family:serif}.carousel-control .icon-prev:before{content:'\2039'}.carousel-control .icon-next:before{content:'\203a'}.carousel-indicators{position:absolute;bottom:10px;left:50%;z-index:15;width:60%;margin-left:-30%;padding-left:0;list-style:none;text-align:center}.carousel-indicators li{display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;border:1px solid #fff;border-radius:10px;cursor:pointer;background-color:#000 \9;background-color:rgba(0,0,0,0)}.carousel-indicators .active{margin:0;width:12px;height:12px;background-color:#fff}.carousel-caption{position:absolute;left:15%;right:15%;bottom:20px;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center;text-shadow:0 1px 2px rgba(0,0,0,.6)}.carousel-caption .btn{text-shadow:none}@media screen and (min-width:768px){.carousel-control .glyphicons-chevron-left,.carousel-control .glyphicons-chevron-right,.carousel-control .icon-prev,.carousel-control .icon-next{width:30px;height:30px;margin-top:-15px;margin-left:-15px;font-size:30px}.carousel-caption{left:20%;right:20%;padding-bottom:30px}.carousel-indicators{bottom:20px}}.clearfix:before,.clearfix:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{content:" ";display:table}.clearfix:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both}.center-block{display:block;margin-left:auto;margin-right:auto}.hide{display:none!important}.show{display:block!important}.invisible{visibility:hidden}.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0}.hidden{display:none!important;visibility:hidden!important}.affix{position:fixed}@-ms-viewport{width:device-width}.visible-xs,tr.visible-xs,th.visible-xs,td.visible-xs{display:none!important}@media (max-width:767px){.visible-xs{display:block!important}table.visible-xs{display:table}tr.visible-xs{display:table-row!important}th.visible-xs,td.visible-xs{display:table-cell!important}}.visible-sm,tr.visible-sm,th.visible-sm,td.visible-sm{display:none!important}@media (min-width:768px) and (max-width:991px){.visible-sm{display:block!important}table.visible-sm{display:table}tr.visible-sm{display:table-row!important}th.visible-sm,td.visible-sm{display:table-cell!important}}.visible-md,tr.visible-md,th.visible-md,td.visible-md{display:none!important}@media (min-width:992px) and (max-width:1199px){.visible-md{display:block!important}table.visible-md{display:table}tr.visible-md{display:table-row!important}th.visible-md,td.visible-md{display:table-cell!important}}.visible-lg,tr.visible-lg,th.visible-lg,td.visible-lg{display:none!important}@media (min-width:1200px){.visible-lg{display:block!important}table.visible-lg{display:table}tr.visible-lg{display:table-row!important}th.visible-lg,td.visible-lg{display:table-cell!important}}@media (max-width:767px){.hidden-xs,tr.hidden-xs,th.hidden-xs,td.hidden-xs{display:none!important}}@media (min-width:768px) and (max-width:991px){.hidden-sm,tr.hidden-sm,th.hidden-sm,td.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md,tr.hidden-md,th.hidden-md,td.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg,tr.hidden-lg,th.hidden-lg,td.hidden-lg{display:none!important}}.visible-print,tr.visible-print,th.visible-print,td.visible-print{display:none!important}@media print{.visible-print{display:block!important}table.visible-print{display:table}tr.visible-print{display:table-row!important}th.visible-print,td.visible-print{display:table-cell!important}}@media print{.hidden-print,tr.hidden-print,th.hidden-print,td.hidden-print{display:none!important}}
.modal-header button{display:none;}
.datepicker,.timepicker{background:#fff;padding:10px;border:1px solid #ccc;display:none;}
.picker-open .datepicker,.picker-open .timepicker{display:block !important;}
.input-group.date button,.input-group.time button,.input-group.datetime button{border:none;background:none;}
.fa-calendar{width:20px;height:20px;background:url('../image/cal.jpg');display:inline-block;position:relative;top:5px;}
.timepicker{background:#fff;border:1px solid #ccc;}
.timepicker-picker tr:first-child,.timepicker-picker tr:last-child{display:none;}
.panel-body .alert{margin-bottom:15px;}
/* account */
body.register .breadcrumb{text-align:center;}
body.register .breadcrumb li{float:none;}
#content.account{padding:15px 30px;background:#fff;border:1px solid #e0e0e0;width:50%;margin:0 auto;}
#content.account h1{font-size:20px;margin-bottom:10px;}
#content.account > p{margin-bottom:10px;}
#content.account label{font-size:14px;font-weight:bold;display:block;margin-bottom:5px;}
#content.account input[type="text"],#content.account input[type="email"],#content.account input[type="tel"],#content.account input[type="password"],#content.account select{width:90%;padding:10px;margin-bottom:10px;}
#content.account input[type="submit"]{background:#333;border:1px solid #000;color:#fff;padding:8px 15px;border-radius:3px;cursor:pointer;}
#content.account input[type="submit"]:hover{opacity:0.8;}
#content.account ul{margin-bottom:20px;padding-left:20px;}
#content.account ul li{list-style:circle;}
#content.account ul li a{display:inline-block;padding:5px 0;}
#content.account h2{font-size:18px;margin-bottom:10px;}
aside#column-right div.list-group{border:none;margin:15px 0;padding-top:15px;border-top:1px solid #e0e0e0;}
aside#column-right div.list-group a{text-decoration:none;display:inline-block;padding:5px 5px 5px 0;}
aside#column-right div.list-group a::after{content:" / ";}
aside#column-right div.list-group a:last-child::after{content:"";}
#content.account .pull-right{float:right;width:auto;}
#content.account{margin-bottom:30px;}
.share-box{float: right;margin-top: 7px;}
.show-487{display: none}
@media screen and (max-width:995px){
	.wrapper{width:97.4%;padding:0 10px;}
	.welcome{display:none;}
	#top,header{margin-bottom:8px;}
	.breadcrumb{display:none;}
	#slideshow0{width:97.4%;}
	.homeLeft{width:100%;}
	.product-layout{width:31.96%;}
	.product-thumb .image a img{width:100%;}
	.image{background:#fff;}
	.homeRight{float:left;width:100%;}
/*	.homeRight .htmlContent{display:none;}*/
	.bestseller .owl-item,.bestseller .owl-item .product-layout{width:220px !important;}
	.credits{float:left;}
	.catProducts .product-layout:nth-child(2n){margin:0;}
	.catProducts .product-layout:nth-child(3n+2){margin:0 10px;}
	.singleWrapper{width:100%;box-sizing: border-box;  }
	.addProd{text-align:center;}
	.addProd button{float:none;margin-top:10px;}
	ul.price-list{width:100%;}
	.relatedBlock{display:none;}
	body.checkout-cart .left,body.checkout-cart .right{box-sizing:border-box;width:100%;float:none;}
	.show-995{display: block}
}

@media screen and (max-width:782px){
	.wrapper{width:96.8%;}
	.categories{display:none;}
	.mobMenu{display:block;float:left;width:auto;margin:5px 0 0 15px;}
	.parentM{position:relative;}
	.parentM > a{display:block;width:29px;height:22px;text-indent:-9999px;overflow:hidden;background:url(../image/menuM.jpg) no-repeat top left;}
	.parentM ul{position:absolute;z-index:100000;border:2px solid #0c0c0c;background:#fff;width:150px;display:none;}
	.parentM ul li a{padding:10px;display:block;text-decoration:none;color:#0c0c0c;border-bottom:1px solid #eee;}
	#slideshow0{width:96.4%;}
	.product-layout{width:31.6%;}
	.prodImage{width:100%;}
	.prodImages{width:100%;  border:none;}
	.productInfo{width:100%;}
	div.checkout .col-sm-6{width:94%;}
	.bestseller .owl-item, .bestseller .owl-item .product-layout{width:190px !important;}
	footer{text-align:center;}
	footer .copyright,footer .footerLinks,.credits{float:none;}
	footer .copyright{margin:0 auto;width:253px;}
	.hidde-782{display: none }
	.share-box{ width: 280px;margin-left: auto;margin-right: auto;float: none}
}

@media screen and (max-width:636px){
	.wrapper{width:95.7%;}
	#top-links{display:none;}
	#top #search{float:none;}
	#top #search input{width:90%;}
	#slideshow0{width:94.4%;}
	.client-info,.sub-total{width: 100%}
	.sub-total>table{width: 95%}
	.product-layout{width:48.8%;}
	.catProducts{padding:15px;}
	.homeLeft .product-layout:nth-child(3n+3),.catProducts .product-layout:nth-child(3n+2){margin:0;}
	.homeLeft .product-layout:nth-child(2n+3),.catProducts .product-layout:nth-child(2n+2){margin:0 0 0 9px;}
}

@media screen and (max-width:487px){
	.wrapper{width:93.5%;}
	#top #search input{width:83%;}
	.parentM ul{left:-57px;text-align:center;}
	p.slideDesc{display:none;}
	#slideshow0{width:91.4%;}
	#slideshow0 .owl-controls{width:100% !important;position: inherit;margin: 0 12px;}
	.owl-pagination{top:0 !important;width:100% !important;float:none !important;text-align:center !important;}
	.owl-controls .owl-page.active span{padding:10px 0 5px;border-bottom:2px solid #ea3447 !important}
	.caption a,.caption .price{font-size:12px;}
	.homeLeft .product-layout:nth-child(2n+3), .catProducts .product-layout:nth-child(2n+2){margin:0 0 0 6px;}
	.bestseller{margin-top:0;}
	.bestseller h3{text-align:center;}
	.bestseller .owl-item, .bestseller .owl-item .product-layout{width:126px !important;}
	.footerLinks li{display:block;border-bottom:1px solid #eee;}
	.catProducts .product-layout{width:100%;margin:0 !important;}
	/*.singleWrapper{width:99%;}*/
	.thumbs{box-sizing: border-box;width:100%;float:none;height:auto;}
	.thumbs li{display:inline;float:left;margin-right:10px;}
	.thumbnails{width:100%;height:auto;}
	.wishlistBtn{top:190px;}
	.tabWrap ul.nav li a{padding:15px 18px;}
	body.checkout-cart  .left .table-responsive table tr td:nth-child(3),
	body.checkout-cart  .left .table-responsive table tr td:nth-child(1),
	body.checkout-cart  .left .table-responsive table tr td:nth-child(5){display:none;}
	body.checkout-cart .wrapper{padding:0;}
	body.checkout-cart .left, body.checkout-cart .right{width:100%;margin:0;}
	body.checkout-cart .left .sub-total td{padding:6px;}
	div.checkout .col-sm-6{width:88%;margin-bottom:0;}
	.show-487{display:block; }
	.hide-487{display: none}
}
.product-comparison {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;

}
.h1{
	margin: 0 -10px;
	padding: 4px 10px;
}
.bg-black{
	background-color: black;
	color: #ffffff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table-bordered td,.table-bordered th {
	border: 1px solid #ddd;
}
.table-bordered thead td,.table-bordered thead th{
	border-bottom: 2px solid #ddd;
}
.no-bordered,.table-no-bordered>tbody>tr>td,.table-no-bordered>tbody>tr>th,.table-no-bordered td,.table-no-bordered th{border: none}
/** collapse 折叠组件 **/
.collapse {
	display: none;
}
.collapse.in {
	display: block;
}
.collapsing {
	osition: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition: height .35s ease;
	transition: height .35s ease;
	border-bottom: 1px solid #ccc;
}
